{% extends "../master.html" %}
{%block content%}
<h1>payment details</h1>
<form method="post">
    {%csrf_token%}    
<table class="table">
    <tr><td>Enter name on Card</td><td><input type="text" name="name on card" placeholder="name on card" required/></td></tr>
    <tr><td>Enter card no.</td><td><input type="text" name="cardno" placeholder="cardno" required/></td></tr>
    <tr><td>Enter cvv</td><td><input type="text" name="cvv" placeholder="cvv" required/></td></tr>
    <tr><td>Enter expiry</td><td><input type="text" name="expiry" placeholder="expiry" required/></td></tr>
    <tr><td>Amount to be paid</td><td>{{request.session.total}}</tr>
    <tr><td><button class="button btn-success" type="submit">Make Payment</button></td></tr>
    
</table>
</form>
{%endblock%}


    